body {
	background-color: #f5f4f0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	min-height:100%;
}
.word{
    font-size: 20px;
    font-family: Stencil;
}

.box{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    min-height:100%;

    padding-bottom: 10%;

}
.section_left {
	display: flex;
	flex-direction: column;
	justify-content:space-between
	min-height:100%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 10%;
	padding-left: 10%;

}

.section_right {
	display: flex;
	flex-direction: column;
	min-height:100%;
	padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
}

.top{
    background-color: #f5f4f0;
    }
.btm{
     background:rgb(235,234,234);
     }

.text_small{
    text-align:left;
    font-size: 30px;
    font-family: Stencil;
    color: #993333;
}
.text{
    text-align:left;
    font-size: 20px;
    font-family: Stencil;

    color: #993333;
}

.input_field{
    width:300px;
    height:40px;
    font-size:20px;
    }

.btn{
    width: 300px;
    height: 40px;
  	margin-left: 10px;
   	font-size: 20px;
    font-weight: bolder;
    font-family: Stencil;
    color: white;
    background-color: gray;
    border-color: gray;
    border-radius: 8px;
    border-width: 0px;
    outline-width: 0px;
    }
.btn:hover{
	background-color: #ec4949;
	border-color: #ec4949;
}
.btn:active{
	background-color: pink;
}
.sub{
    width: 40px;
    height: 40px;
  	margin-left: 10px;
   	font-size: 20px;
    font-weight: bolder;
    font-family: Stencil;
    color: white;
    background-color: gray;
    border-color: gray;
    border-radius: 8px;
    border-width: 0px;
    outline-width: 0px;
    }
.sub:hover{
	background-color: #ec4949;
	border-color: #ec4949;
}
.sub:active{
	background-color: pink;
}
.sub_2{
    width: 100px;
    height: 40px;
  	margin-left: 10px;
   	font-size: 20px;
    font-weight: bolder;
    font-family: Stencil;
    color: white;
    background-color: gray;
    border-color: gray;
    border-radius: 8px;
    border-width: 0px;
    outline-width: 0px;
    }
.sub_2:hover{
	background-color: #ec4949;
	border-color: #ec4949;
}
.sub_2:active{
	background-color: pink;
}



.show{
    display:flex;
    flex-direction:row;
}
.cpt{
	text-align: center;
	color: grey;
}
.dia{
    opacity: 0.5
    }
.dia_2{
    opacity: 0.5
    }
