body {
	background-color: #f5f4f0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	min-height:100%;

}

.side-logo{
	width:20px;
	height: 100%;
	background-color: pink;
}
.section-up {
	display: flex;
	flex-direction: row;
	min-height:50%;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
}

.section-btm {
	display: flex;
	flex-direction: row;
	min-height:50%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 3%;
}
.section-child {
	min-height: 350px;
	width: 50%;
	/*padding-bottom: 10%;*/
}
.section-child-2{
	min-height: 240px;
	margin: 30px 30px 30px 30px;
}
.u-l,
.b-r {
	background-color: #993333;
}
.u-r,
.b-l {
	background-color: #ffffff;
}
.text{
	margin: 20px 20px 20px 20px;
    font-size: 40px;
    font-weight: bolder;
    font-family: Stencil;
    color: rgb(255,255,255);
}

/*左上格子*/
.wht{
    color: rgb(255,255,255);
}
.btns{
	min-height: 50%;
	width:80%;
	margin-bottom: 20px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
}
.u-l-btn{
	min-height:60px;
	min-width:40%;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	font-weight: bolder;
    font-family: Stencil;
    color: #993333;
}
.u-l-btn:hover{
	color:#ffffff;
	background: #ec4949;
    border-color: #ec4949;
}

/*右上格子*/
.u-r-login{
	margin-top: 80px;
	margin-left:30px;
}
.rdt{
    color: #993333;
}
.id{
	font-size: 22px;
    font-weight: bolder;
    font-family: Stencil;
    color: #993333
}
.u-r-input{
	height:22px;
}
.u-r-btn{
	min-width: 15%;
	min-height: 25px;
	margin-left: 30px;
	font-size: 22px;
    font-weight: bolder;
    font-family: Stencil;
    color: #ffffff;
	background-color: #993333;
	border-color: #993333;
}
.u-r-btn:hover{
	background-color: #ec4949;
	border-color: #ec4949;
}

/*左下格子*/
.u-l-btn{

}

/*右下格子*/
.img-show{
	max-width: 100%;
	min-height: 100%;
}